@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Pretendard", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-aldrich: "Aldrich", sans-serif;
  --font-gothic: "Nanum Gothic", sans-serif;

  /* Brand Colors */
  --color-brand-gold: #C6A268;
  --color-brand-gold-dark: #D0AB32;
  --color-brand-gold-light: #E1B156;
  --color-brand-gold-lighter: #FFC65D;

  --color-brand-navy: #183B63;
  --color-brand-blue-light: #A8C3E3;

  --color-dark-gray: #333333;
  --color-light-gray: #D9D9D9;
}

html,
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    @apply bg-gray-950 text-gray-50;
  }
}

/* Swiper Custom Styles */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: transparent !important;
  width: 66px !important;
  height: 66px !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.2s;
}

.swiper-button-prev {
  left: -10px !important;
}

.swiper-button-next {
  right: -10px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: transparent !important;
  transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-brand-navy) !important;
}