@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Pretendard", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-aldrich: "Aldrich", sans-serif;
  --font-gothic: "Nanum Gothic", sans-serif;

  /* Brand Colors */
  --color-brand-gold: #C6A268;
  --color-brand-gold-light: #E1B156;
  --color-brand-gold-lighter: #FFC65D;

  --color-brand-navy: #183B63;
  --color-brand-blue-light: #A8C3E3;

  --color-dark-gray: #333333;
  --color-light-gray: #D9D9D9;
}

html,
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    @apply bg-gray-950 text-gray-50;
  }
}