@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Pretendard", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Brand Colors */
  --color-brand-gold: #d0a06b;
  --color-brand-gold-hover: #b98d5b;

  --color-brand-navy: #183B63;
  --color-brand-navy-hover: #132e4d;
  --color-brand-navy-dark: #1e2b4a;

  --color-brand-blue-light: #A8C3E3;
  --color-brand-blue-lighter: #8faadd;
}

html,
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    @apply bg-gray-950 text-gray-50;
  }
}